<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yumi.lottery.mapper.StrategyDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yumi.lottery.model.entity.StrategyDetail">
        <id column="id" property="id" />
        <result column="strategy_id" property="strategyId" />
        <result column="award_id" property="awardId" />
        <result column="award_name" property="awardName" />
        <result column="award_stock" property="awardStock" />
        <result column="create_time" property="createTime" />
        <result column="award_rate" property="awardRate" />
    </resultMap>

</mapper>
